{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="row">
            <div class="chooseCategory">
                <div class="content">
                    <h2 class="fontTitle ft-40 lightBlue">Toutes les <span class="darkBlue">catégories</span></h2>
                    <p class="white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in tellus dui.
                        Morbi eu finibus nisi, ullamcorper faucibus est.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
            </div>
        </div>

       <div class="row">
           <div class="everyCategories col-md-12 col-sm-12">
              <div id="grid" data-columns>
                  {% set i = 0 %}
                  {% for category in categories %}
                      <div class="grid-item text-center {{ i is divisible by(2) ? 'bgDarkBlue' : 'bgLightBlue' }}" data-toggle="modal" data-target="#{{category.id}}">
                          <!-- Button trigger modal -->
                          <div class="w100 ft-20">{{ category.name }}</div><br/>
                      </div>
                      <div class="modal fade" id="{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">{{category.name}}</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <h4>Etape 1</h4>
                                      <a class="lightBlue" href="{{ path('searchEngine_element_new', { 'category_name': category.name }) }}">Créer un nouvel élément</a><br />
                                      <a class="lightBlue" href="{{ path('searchEngine_feature_new', { 'category_name': category.name }) }}">Créer une nouvelle caractéristique</a>
                                      <h4>Etape 2</h4>
                                      <a class="lightBlue" href="{{ path('searchEngine_element_index', { 'category_name': category.name }) }}">Voir les éléments</a>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% set i = i + 1 %}
                  {% endfor %}
               </div>
          </div>

    </div>
{% endblock %}
