{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}

    {{ parent() }}
    <div class="container-fluid">

        <div class="row">
            <div class="chooseCategory">
                <div class="content">

                    <h2 class="fontTitle ft-40 lightBlue">Editer l'élément <span class="darkBlue">{{ element.name }}</span></h2>
                    <p class="white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in tellus dui.
                        Morbi eu finibus nisi, ullamcorper faucibus est.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="everyCategories col-md-12 col-sm-12 mTop30">
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input class="buttonStyle mTop20 ft-20 fontChampagne" type="submit" value="Editer l'élément" />
                {{ form_end(edit_form) }}

                <div>
                    {{ form_start(delete_form, {'attr' : {'class': 'inlineBlock'}}) }}
                        <input class="deleteButton mTop20 ft-20 fontChampagne" type="submit" value="Supprimer l'élément">
                    {{ form_end(delete_form) }}
                    <a class="buttonStyle mTop20 ft-20 fontChampagne" href="{{ path('searchEngine_element_index', {'category_name': element.category.name }) }}">Retour à la liste des éléments</a>
                </div>
           </div>
        </div>

    </div>

{% endblock %}
