{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    <h1>Features list :</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Multiple</th>
                <th>Margin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td><a href="{{ path('searchEngine_feature_show', { 'id': feature.id, 'name': name }) }}">{{ feature.id }}</a></td>
                <td>{{ feature.name }}</td>
                <td>{{ feature.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('searchEngine_feature_show', { 'id': feature.id, 'name': name }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('searchEngine_feature_edit', { 'id': feature.id, 'name': name }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
