{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ feature.category.name }} - {{ feature.name }}</h1>
    {{ feature.type }}

    <table>
      <thead>
          <tr>
              <th>Id</th>
              <th>Value</th>
              <th>commentaire</th>
              <th>Image</th>
          </tr>
      </thead>
      <tbody>
      {% for FeatureCategoryValue in FeatureCategoryValues %}
        <tr>
          <td>{{ FeatureCategoryValue.id }}</td>
          <td>{{ FeatureCategoryValue.value }}</td>
          <td>{{ FeatureCategoryValue.comment }}</td>
          <td>{{ FeatureCategoryValue.image }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}
